<h2>{{user.username}}</h2>

<img src="/images/defaultUser.jpeg">

<div class="form-group">
  <label for="exampleInputFile" class="bmd-label-floating">Edit Photo</label>
  <input type="file" class="form-control-file" id="exampleInputFile">
  
</div>



<br><br>



<label for="reputation">Reputation: </label>

<br><br>

<label for="myStories">My Posted Stories</label>

{{#each stories}}
  <li>{{title}} 
      <form action="delete/{{_id}}" method="POST">
        <button>Delete</button>
      </form>
  </li>
{{/each}}


<br><br>

<label for="myComments">My Comments</label>

{{#each comments}}
  <li>{{comment}} 
      <form action="delete/{{_id}}" method="POST">
        <button>Delete</button>
      </form>
  </li>
{{/each}}

<br><br>

<label for="myStories">My Saved Stories</label>

