<div class="story">
  <img src="{{story.image}}">
  <br><br>

  <label for="title">{{story.title}}</label>
  <br><br>
  

  <label for="description">{{story.description}}</label>
  <br><br>
  <br><br>

  <label for="sources"> {{story.sources}}</label>
  <br><br>

  <label for="points"></label>
  <br><br>

</div>

<div class="comments">
  <label for="comment">Comment</label>
  <br><br>
  <br><br>

  <form action="/story/{{story._id}}" method="POST">
        <input id="comment" type="comment" name="comment" placeholder="Insert comment here">
        <button>Submit</button>
  </form>
  <br><br>
  <br><br>

  <label for="comments">All Comments</label>

  {{#each comment}}
  <li>{{username}} {{comment}} 
      <form action="delete/{{_id}}" method="POST">
        <button>Delete</button>
      </form>
  </li>
{{/each}}
</div>

