<div class="story">
  <div class="jumbotron" id="story-img">
    <img id="storyImg"src="{{story.image}}">
  </div>
  <br><br>

  <h3>{{story.title}}</h3>

  <p>{{story.description}}</p>
  
  <br>

</div>

<div class="comments">
  <label for="comment">Comment</label>
  <form action="/story/{{story._id}}" method="POST">
    <textarea id="comment" type="comment" name="comment" placeholder="Insert comment here"rows="5" cols="35"></textarea>
    <br>
    <button class="btn btn-success">Submit</button>
  </form>
  <br>

  <label for="comments">All Comments</label>
  {{#each allComments}}
  <li id="storyComments">
    Posted by {{user_id.username}}: {{comment}}
  </li>
  <hr>
{{/each}}
</div>

