<div class="story">
  <div id="story-img">
    <img class="jumbotron" src="{{story.image}}">
  </div>
  <br><br>

  <h3>{{story.title}}</h3>
  <span> Posted by {{user_id.username}}</span>

  <p>{{story.description}}</p>
  
  <br>

</div>

<div class="comments">
  <label for="comment">Comment</label>
  <form action="/story/{{story._id}}" method="POST">
    <textarea id="comment" type="comment" name="comment" placeholder="Insert comment here"rows="8" cols="50"></textarea>
    <br>
    <button>Submit</button>
  </form>
  <br>

  <label for="comments">All Comments</label>

  {{#each allComments}}
  <li id="storyComments">
    Posted by {{user_id.username}}: {{comment}}
  </li>
  <br>
{{/each}}
</div>

